//@import '~vuetify/dist/vuetify.min.css';

body {
  font-weight: 400;
}

body .v-application .display-1 {
  font-weight: 600;
  margin-bottom: 0.5em;
}

.tabs-inner {
  padding: 2em 0;
}

@import '_components/_container';